---
apiVersion: v1
kind: ConfigMap
metadata:
  name: jap-ai-core-configmap-env${URI}
  namespace: ${CI_ENVIRONMENT_NAME}
  labels:
    k8s-app: jap-ai-core${URI}
data:
  OPENAI_API_KEY: ${OPENAI_API_KEY}
  QDRANT_DB_URL: ${QDRANT_DB_URL}
  QDRANT_DB_PORT: "6333"
  POSTGRES_DB_URL: ${POSTGRES_DB_URL}
  POSTGRES_DB_PORT: "5432"
  POSTGRES_DB_NAME: ${POSTGRES_DB_NAME}
  PARENT_FOLDER_PATH: ${PARENT_FOLDER_PATH}
  HIST_QA_RETURN_LIMIT: "${HIST_QA_RETURN_LIMIT}"
  GPT_ANSWER_RETURN_LIMIT: "${GPT_ANSWER_RETURN_LIMIT}"
  GPT_MODEL_TO_USE: ${GPT_MODEL_TO_USE}
  QDRANT_QUESTIONS_TABLE_NAME: ${QDRANT_QUESTIONS_TABLE_NAME}
  PORT: "3000"
