---
apiVersion: v1
kind: Secret
metadata:
  name: jap-ai-core-secret-env${URI}
  namespace: ${CI_ENVIRONMENT_NAME}
  labels:
    name: jap-ai-core-secret-env${URI}
    k8s-app: jap-ai-core${URI}
data:
  OPENAI_API_KEY: ${OPENAI_API_KEY}
  