---
apiVersion: v1
kind: Service
metadata:
  name: jap-ai-core-svc${URI}
  namespace: ${CI_ENVIRONMENT_NAME}
spec:
  selector:
    k8s-app: jap-ai-core${URI}
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
